.raise-dispute-page {
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
}

.dispute-form-container {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  background-color: #fefefe;
  border-radius: 12px;
}

.dispute-title {
  font-family: 'Cal Sans', sans-serif;
  font-size: 2.5rem;
  color: #086308; /* Green */
  margin-bottom: 2rem;
  text-align: center;
}

.dispute-form .form-field {
  margin-bottom: 20px;
}
